<launch>

<!-- Load joint controller configurations from YAML file to parameter server -->
<rosparam file="$(find dualarm_control)/config/computedtorque_control_clik.yaml" command="load"/>

<!-- load the controllers -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/dualarm" args="joint_state_controller computedtorque_control_clik"/>

<!-- convert joint states to TF transforms for rviz, etc -->
<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
    <remap from="/joint_states" to="/dualarm/joint_states" />
</node> -->
</launch>