<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find dualarm_description)/urdf/dual_arm.xacro'"/>

    <!--<arg name="gui" default="True"/> -->
    <!--<node name="rviz" pkg="rviz" type="rviz"/>-->

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    </node>

    <node
            name="urdf_spawner"
            pkg="gazebo_ros"
            type="spawn_model"
            respawn="false"
            output="screen"
            args="-urdf -model dualarm -param robot_description" />
</launch>