<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/dualarm</robotNamespace>
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    <controlPeriod>0.001</controlPeriod>
    </plugin>
  </gazebo>

  <gazebo reference="ft_sensor_joint_R">
    <provideFeedback>true</provideFeedback>
    <disableFixedJointLumping>true</disableFixedJointLumping>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>900</updateRate>
      <topicName>ft_sensor_topic_R</topicName>
      <jointName>ft_sensor_joint_R</jointName>
    </plugin>
  </gazebo>

  <gazebo reference="ft_sensor_joint_L">
    <provideFeedback>true</provideFeedback>
    <disableFixedJointLumping>true</disableFixedJointLumping>
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>900</updateRate>
      <topicName>ft_sensor_topic_L</topicName>
      <jointName>ft_sensor_joint_L</jointName>
    </plugin>
  </gazebo>
</robot>