<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.141592"/>
<!--base-->
  <xacro:property name="base_link_name" value="robot_base_link" />
<!--waist-->
  <xacro:property name="waist_link_01_name" value="link_01" />
  <xacro:property name="waist_link_02_name" value="link_02" />
<!--right_arm-->
  <xacro:property name="r_arm_link_01_name" value="link_03" />
  <xacro:property name="r_arm_link_02_name" value="link_04" />
  <xacro:property name="r_arm_link_03_name" value="link_05" />
  <xacro:property name="r_arm_link_04_name" value="link_06" />
  <xacro:property name="r_arm_link_05_name" value="link_07" />
  <xacro:property name="r_arm_link_06_name" value="link_08" />
  <xacro:property name="r_arm_link_hand"    value="link_R_hand" />
  <xacro:property name="r_arm_link_hand_1"  value="link_R_hand_1" />
  <xacro:property name="r_arm_link_hand_2"  value="link_R_hand_2" />
<!--left_arm-->
  <xacro:property name="l_arm_link_01_name" value="link_10" />
  <xacro:property name="l_arm_link_02_name" value="link_11" />
  <xacro:property name="l_arm_link_03_name" value="link_12" />
  <xacro:property name="l_arm_link_04_name" value="link_13" />
  <xacro:property name="l_arm_link_05_name" value="link_14" />
  <xacro:property name="l_arm_link_06_name" value="link_15" />
  <xacro:property name="l_arm_link_hand"    value="link_L_hand" />
  <xacro:property name="l_arm_link_hand_1"  value="link_L_hand_1" />
  <xacro:property name="l_arm_link_hand_2"  value="link_L_hand_2" />
<!-- link_mass -->
  <xacro:property name="base_link_mass"     value="10.0"/>
  <xacro:property name="waist_link_01_mass" value="11.91"/>
  <xacro:property name="waist_link_02_mass" value="10.901"/>

  <xacro:property name="r_arm_link_01_mass" value="3.35"/>
  <xacro:property name="r_arm_link_02_mass" value="3.51"/>
  <xacro:property name="r_arm_link_03_mass" value="2.59"/>
  <xacro:property name="r_arm_link_04_mass" value="2.49"/>
  <xacro:property name="r_arm_link_05_mass" value="1.8"/>
  <xacro:property name="r_arm_link_06_mass" value="1.73"/>
  <xacro:property name="r_arm_link_07_mass" value="1.60"/>
  <xacro:property name="r_arm_link_07_1_mass" value="0.50"/>
  <xacro:property name="r_arm_link_07_2_mass" value="1.10"/>

  <xacro:property name="l_arm_link_01_mass" value="3.35"/>
  <xacro:property name="l_arm_link_02_mass" value="3.51"/>
  <xacro:property name="l_arm_link_03_mass" value="2.59"/>
  <xacro:property name="l_arm_link_04_mass" value="2.49"/>
  <xacro:property name="l_arm_link_05_mass" value="1.8"/>
  <xacro:property name="l_arm_link_06_mass" value="1.73"/>
  <xacro:property name="l_arm_link_07_mass" value="1.147"/>
  <xacro:property name="l_arm_link_07_1_mass" value="0.50"/>
  <xacro:property name="l_arm_link_07_2_mass" value="0.65"/>

<!-- link_inertia -->
  <xacro:property name="base_link_ixx" value="0.0"/>
  <xacro:property name="base_link_ixy" value="0.0"/>
  <xacro:property name="base_link_ixz" value="0.0"/>
  <xacro:property name="base_link_iyy" value="0.0"/>
  <xacro:property name="base_link_izz" value="0.0"/>
  <xacro:property name="base_link_iyz" value="0.0"/>

  <xacro:property name="waist_link_01_ixx" value="0.094"/>
  <xacro:property name="waist_link_01_ixy" value="-0.0002"/>
  <xacro:property name="waist_link_01_ixz" value="-0.0001"/>
  <xacro:property name="waist_link_01_iyy" value="0.0712"/>
  <xacro:property name="waist_link_01_iyz" value="0.0005"/>
  <xacro:property name="waist_link_01_izz" value="0.0565"/>

  <xacro:property name="waist_link_02_ixx" value="0.1614"/>
  <xacro:property name="waist_link_02_ixy" value="-0.0006"/>
  <xacro:property name="waist_link_02_ixz" value="0.0026"/>
  <xacro:property name="waist_link_02_iyy" value="0.0558"/>
  <xacro:property name="waist_link_02_iyz" value="-0.0059"/>
  <xacro:property name="waist_link_02_izz" value="0.1339"/>

  <xacro:property name="r_arm_link_01_ixx" value="0.0092"/>
  <xacro:property name="r_arm_link_01_ixy" value="0.0002"/>
  <xacro:property name="r_arm_link_01_ixz" value="-0.0001"/>
  <xacro:property name="r_arm_link_01_iyy" value="0.0077"/>
  <xacro:property name="r_arm_link_01_iyz" value="-0.001"/>
  <xacro:property name="r_arm_link_01_izz" value="0.006"/>

  <xacro:property name="r_arm_link_02_ixx" value="0.0118"/>
  <xacro:property name="r_arm_link_02_ixy" value="0.0002"/>
  <xacro:property name="r_arm_link_02_ixz" value="-0.0001"/>
  <xacro:property name="r_arm_link_02_iyy" value="0.006"/>
  <xacro:property name="r_arm_link_02_iyz" value="-0.0001"/>
  <xacro:property name="r_arm_link_02_izz" value="0.0127"/>

  <xacro:property name="r_arm_link_03_ixx" value="0.0143"/>
  <xacro:property name="r_arm_link_03_ixy" value="0.0"/>
  <xacro:property name="r_arm_link_03_ixz" value="-0.0001"/>
  <xacro:property name="r_arm_link_03_iyy" value="0.016"/>
  <xacro:property name="r_arm_link_03_iyz" value="0.0"/>
  <xacro:property name="r_arm_link_03_izz" value="0.0038"/>

  <xacro:property name="r_arm_link_04_ixx" value="0.0123"/>
  <xacro:property name="r_arm_link_04_ixy" value="-0.0001"/>
  <xacro:property name="r_arm_link_04_ixz" value="0.0013"/>
  <xacro:property name="r_arm_link_04_iyy" value="0.0109"/>
  <xacro:property name="r_arm_link_04_iyz" value="-0.0003"/>
  <xacro:property name="r_arm_link_04_izz" value="0.0037"/>

  <xacro:property name="r_arm_link_05_ixx" value="0.0049"/>
  <xacro:property name="r_arm_link_05_ixy" value="-0.0001"/>
  <xacro:property name="r_arm_link_05_ixz" value="-0.0004"/>
  <xacro:property name="r_arm_link_05_iyy" value="0.0041"/>
  <xacro:property name="r_arm_link_05_iyz" value="0.0003"/>
  <xacro:property name="r_arm_link_05_izz" value="0.0023"/>

  <xacro:property name="r_arm_link_06_ixx" value="0.002"/>
  <xacro:property name="r_arm_link_06_ixy" value="0.0"/>
  <xacro:property name="r_arm_link_06_ixz" value="-0.0001"/>
  <xacro:property name="r_arm_link_06_iyy" value="0.0029"/>
  <xacro:property name="r_arm_link_06_iyz" value="0.0"/>
  <xacro:property name="r_arm_link_06_izz" value="0.0021"/>

  <xacro:property name="r_arm_link_07_ixx" value="0.0071"/>
  <xacro:property name="r_arm_link_07_ixy" value="0.0003"/>
  <xacro:property name="r_arm_link_07_ixz" value="0.0002"/>
  <xacro:property name="r_arm_link_07_iyy" value="0.0082"/>
  <xacro:property name="r_arm_link_07_iyz" value="-0.0003"/>
  <xacro:property name="r_arm_link_07_izz" value="0.0022"/>

  <xacro:property name="r_arm_link_07_1_ixx" value="0.0006"/>
  <xacro:property name="r_arm_link_07_1_ixy" value="0.0"/>
  <xacro:property name="r_arm_link_07_1_ixz" value="0.0002"/>
  <xacro:property name="r_arm_link_07_1_iyy" value="0.0009"/>
  <xacro:property name="r_arm_link_07_1_iyz" value="0.0"/>
  <xacro:property name="r_arm_link_07_1_izz" value="0.0009"/>

  <xacro:property name="r_arm_link_07_2_ixx" value="0.0056"/>
  <xacro:property name="r_arm_link_07_2_ixy" value="0.0005"/>
  <xacro:property name="r_arm_link_07_2_ixz" value="0.0008"/>
  <xacro:property name="r_arm_link_07_2_iyy" value="0.007"/>
  <xacro:property name="r_arm_link_07_2_iyz" value="0.0002"/>
  <xacro:property name="r_arm_link_07_2_izz" value="0.0023"/>

  <xacro:property name="l_arm_link_01_ixx" value="0.0092"/>
  <xacro:property name="l_arm_link_01_ixy" value="-0.0001"/>
  <xacro:property name="l_arm_link_01_ixz" value="0.0"/>
  <xacro:property name="l_arm_link_01_iyy" value="0.0077"/>
  <xacro:property name="l_arm_link_01_iyz" value="0.001"/>
  <xacro:property name="l_arm_link_01_izz" value="0.006"/>

  <xacro:property name="l_arm_link_02_ixx" value="0.0116"/>
  <xacro:property name="l_arm_link_02_ixy" value="-0.0001"/>
  <xacro:property name="l_arm_link_02_ixz" value="-0.0001"/>
  <xacro:property name="l_arm_link_02_iyy" value="0.0063"/>
  <xacro:property name="l_arm_link_02_iyz" value="0.0001"/>
  <xacro:property name="l_arm_link_02_izz" value="0.0131"/>

  <xacro:property name="l_arm_link_03_ixx" value="0.0143"/>
  <xacro:property name="l_arm_link_03_ixy" value="0.0"/>
  <xacro:property name="l_arm_link_03_ixz" value="-0.0011"/>
  <xacro:property name="l_arm_link_03_iyy" value="0.016"/>
  <xacro:property name="l_arm_link_03_iyz" value="0.0001"/>
  <xacro:property name="l_arm_link_03_izz" value="0.0038"/>

  <xacro:property name="l_arm_link_04_ixx" value="0.0124"/>
  <xacro:property name="l_arm_link_04_ixy" value="0.0001"/>
  <xacro:property name="l_arm_link_04_ixz" value="0.0013"/>
  <xacro:property name="l_arm_link_04_iyy" value="0.011"/>
  <xacro:property name="l_arm_link_04_iyz" value="0.0003"/>
  <xacro:property name="l_arm_link_04_izz" value="0.0037"/>

  <xacro:property name="l_arm_link_05_ixx" value="0.0049"/>
  <xacro:property name="l_arm_link_05_ixy" value="0.0001"/>
  <xacro:property name="l_arm_link_05_ixz" value="-0.0004"/>
  <xacro:property name="l_arm_link_05_iyy" value="0.0041"/>
  <xacro:property name="l_arm_link_05_iyz" value="-0.0004"/>
  <xacro:property name="l_arm_link_05_izz" value="0.0023"/>

  <xacro:property name="l_arm_link_06_ixx" value="0.0002"/>
  <xacro:property name="l_arm_link_06_ixy" value="0.0"/>
  <xacro:property name="l_arm_link_06_ixz" value="-0.0001"/>
  <xacro:property name="l_arm_link_06_iyy" value="0.0028"/>
  <xacro:property name="l_arm_link_06_iyz" value="0.0"/>
  <xacro:property name="l_arm_link_06_izz" value="0.0021"/>

  <xacro:property name="l_arm_link_07_ixx" value="0.0057"/>
  <xacro:property name="l_arm_link_07_ixy" value="-0.0002"/>
  <xacro:property name="l_arm_link_07_ixz" value="-0.0007"/>
  <xacro:property name="l_arm_link_07_iyy" value="0.0072"/>
  <xacro:property name="l_arm_link_07_iyz" value="0.0006"/>
  <xacro:property name="l_arm_link_07_izz" value="0.0027"/>

  <xacro:property name="l_arm_link_07_1_ixx" value="0.0006"/>
  <xacro:property name="l_arm_link_07_1_ixy" value="0.0"/>
  <xacro:property name="l_arm_link_07_1_ixz" value="0.0001"/>
  <xacro:property name="l_arm_link_07_1_iyy" value="0.0010"/>
  <xacro:property name="l_arm_link_07_1_iyz" value="0.0"/>
  <xacro:property name="l_arm_link_07_1_izz" value="0.0009"/>

  <xacro:property name="l_arm_link_07_2_ixx" value="0.0025"/>
  <xacro:property name="l_arm_link_07_2_ixy" value="0.0000"/>
  <xacro:property name="l_arm_link_07_2_ixz" value="-0.0001"/>
  <xacro:property name="l_arm_link_07_2_iyy" value="0.0037"/>
  <xacro:property name="l_arm_link_07_2_iyz" value="0.0000"/>
  <xacro:property name="l_arm_link_07_2_izz" value="0.0014"/>

</robot>

